server:
  port: 8081

spring:
  application:
    name: account-service

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        default_schema: account_service
        type:
          json_format_mapper: com.pitisha.project.mybank.accountservice.domain.entity.mapper.CustomJsonFormatMapper

  liquibase:
    enabled: true
    contexts: dev
    default-schema: account_service
    liquibase-schema: account_service

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}
